*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
    color: aliceblue;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
    
    padding: 0 90px;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
}

.nav{
    
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
}
a{
    text-decoration: none;
}



.nav h1, h3, h4{
    font-weight: 500;
    cursor: pointer;

}
.nav h3,h4{
    cursor: pointer;
}
a:hover{
    color: red;
}
.nav-part2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}


.container{
    height: 80%;
    width: 100%;
    display: flex;
    
}
.left p{
    padding-left: 10px;
    text-decoration: line-through;
    font-size: 15px;
}
.left{
    height: 100%;
    width: 50%;
    padding: 90px 0px;
    
}
.left h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 120px;

}
.left h1 span img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.right{

    height: 100%;
    width: 50%;
    padding-top: 40px;
    padding-left: 20px;
}
.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.page2 h2{
    position: absolute;
    top: 105%;
    font-size: 70px;
}

.page2 .box{
    height: 350px;
    width: 340px;
    border: 2.3px solid #fff;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    box-shadow: 4px 5px 10px rgba(255, 255, 255, 0.916);
    
    
}
.page2 .box:hover{
    box-shadow: 7px 9px 10px red;
    height: 355px;
    
}

.box h1{
    border-bottom: #dadada 2px solid;
    margin: 0 8px;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
}

.box p{
    font-size: 19px;
    color: #dadada;
}

.space{
    height: 10vh;
    background: linear-gradient(black,white);
}


.about{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
} 
.about h2{
    color: rgb(255, 157, 0);
    position: absolute;
    left: 45%;
    
    font-size: 65px;
}
.about .intro{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about .intro-part-2{
    width: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;


}

.intro-part-2 p{
    color: rgb(255, 157, 0);
    height: auto;
    width: 40vw;
    background-color: rgba(242, 255, 224, 0.638);
    border-radius: 120px;
    padding: 30px;
    overflow: hidden;
    margin: 10px;
    font-size: 25px;
    text-align: center;
    box-shadow: 15px 15px 15px rgb(21, 21, 21),
    10px 10px 10px rgba(37, 85, 71, 0.656),
    20px 20px 15px rgb(103, 103, 103),
    15px 15px 15px rgb(37, 85, 71) inset
    ;
    
}
.intro-part-2 p:hover{
    box-shadow: 15px 15px 15px rgb(21, 21, 21),
    20px 20px 20px rgb(116, 217, 189),
    15px 15px 15px rgb(53, 70, 65) inset
    ;
    
}

.about .intro h3, .about .intro p{
    color: rgb(255, 157, 0);
    text-decoration: line-through;
    font-size: 20px;
    
    
}

.about .intro img{
    width: 50vh;
    height: auto;
    border-radius: 200px;
    padding: 10px;
    
    background: linear-gradient(red,green,yellow,blue);
}
.intro-part-2 p span{
    font-size: 40px;
    color: rgb(103, 47, 47);
}






@media screen and (max-width: 1075px) {
    #page1{
        padding: 0 40px;
    }
    .page2 {
        height: auto;
        padding-bottom: 10vh;
        padding-top: 25vh;
    }
    
    .page2 .box{
        width: 270px;
    }
    

}



@media screen and (max-width: 780px) {
    .nav-part2, .nav h4{
        font-size: 12px;
        
    }
    .nav h1{
        font-size: 25px;
    }
    
    .left h1{
        font-size: 4rem;
        line-height: 90px;
    }
    .left p{
        font-size: 12px;
    }
    
    .about{
        flex-direction: column;
        margin-top: 20vh;
    }
    .about .intro-part-2, .about .intro{
        width: 100%;
    }
    .about .intro img{
        
        
    }
    .about .intro p{
        text-align: center;
        font-size: 15px;
        margin: 25px 0 25px 0;
    }
    .about .intro-part-2 p{
        font-size: 15px;
        width: 80%;
        
        border-radius: 20px;
    }
    .about .intro-part-2 p span{
        font-size: 25px;
    }
    .about h2{
        position: inherit;
        text-align: center;
        margin-bottom: 10vh;
    }
    .left h1 span img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        
    }
    
}

@media screen and (max-width: 650px) {
    .nav .nav-part2, .nav h4{
        display: none;
        
    }
    .nav{
        margin-left: 10px;
        border-bottom: 1.2px solid #dadada;
        height: 10vh;
        
    }
    
    #page1{
        height: auto;
        padding: 2px 8px;
        
    }
    .container{
        padding: 0 30px;
        height: auto;
        flex-direction: column-reverse;
    }
    .right{
        height: 45vh;
        width: 100%;
        padding-left: 0;
        
        display: flex;
        
        align-items: center;
        justify-items: center;
        
    }
    .right img{
        border-radius: 20px;
    
    }
    .left{
        padding-top: 20px;
        width: 100%;
    }
    .left p{
        padding: 0;
    }
    .left h1{
        font-size: 3rem;
        line-height: 40px;
    }
    .left p{
        font-size: 12px;
    }
    .about .intro img{
        width: 80%;
        height: auto;
        
    }
}

